html,
body,
header,
.carousel {
    height: 60vh;
}
.marg {
font-size:100px;
    font-weight:500;
    color: #4b82e8;
}
.ops {
    color: #000;
font-size:30px;
}

@media(max-width:746px){
    .carousel {
        height: 100%;
    }
html,
body,
header,
.carousel {
    height: 100vh;
}
} 
@media(min-width:800px) and (max-width:850px) {
    html,
    body,
    header,
    .carousel {
        height: 100vh;
    }   
}
